/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #333;
    line-height: 1.5;
    padding: 20px;

}

/* Estilo do cabeçalho */
header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin: 0px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bf12f3d7;
}

/* Estilo do conteúdo principal */
main {
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contato h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.contato p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

form input:focus,
form textarea:focus {
    border-color: #bf12f3d7;
    outline: none;
}

form button {
    padding: 10px 20px;
    background-color: #bf12f3d7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #bf12f3d7;
}

/* Estilo das informações de contato */
.info-contato h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #333;
}

.info-contato p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.info-contato strong {
    color: #bf12f3d7;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #555;
}

footer p {
    margin-bottom: 10px;
}
